@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Fira+Code:wght@300..700&family=Lobster&family=Playwrite+CA:wght@100..400&display=swap');


* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    ---cor1: rgb(48, 43, 43);
    ---cor2: rgb(48, 43, 43);
    ---cor3: white;
    ---cor4: #c778dd;
    ---cor5: #ABB2BF;
    ---font1: "Fira Code", monospace;
}

/*altera a cor somente das hashtags # no texto do site*/
span {
    color: var(---cor4);
}

#root {
    width: 100vw;
    height: 100vh;
    color: var(---cor3);
    display: flex;
    background-color: var(---cor2);
    justify-content: center;
    font-size: 10pt;
    font-family: var(---font1);
    overflow: scroll;
    font-weight: lighter;
    line-height: 20pt;
}

#root::-webkit-scrollbar {
    visibility: hidden;
}

#root::-webkit-scrollbar-corner {
    visibility: hidden;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    position: fixed;
    height: 80px;
    position: fixed;
    background-color: var(---cor1);
    z-index: 2;

    & #navegacao {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 30vw;
        z-index: 2;
    }

    & img {
        width: 20px;
    }
}

#navegacao>div:hover {
    cursor: pointer;
    font-weight: bold;
}

/*icones fixos na lateral para acessar minhas redes sociais*/
.contatosfixo {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 2;
    left: 40px;

    & a>img {
        width: 20px;
        margin: 4px;
    }

    & a>img:hover {
        transform: scale(1.2);
    }
}

#linha {
    width: 27px;
    height: 130px;

}

/*parte principal do corpo*/
main {
    width: 80vw;
    height: 100vh;
    background-color: var(---cor1);
    justify-content: center;
    margin-top: 120px;
}

/*descrição resumida sobremim*/
.sobremim {
    width: 80vw;
    height: 600px;
    display: flex;
    align-content: space-between;
    justify-content: space-around;
}

.resumo {
    font-size: 20pt;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
    transform: translateY(100px);
}

#efeito {
    font-weight: lighter;
    font-size: 10pt;
}

#contateme {
    border: 1px solid var(---cor4);
    width: fit-content;
    padding: 2px;
    font-size: 10pt;
    cursor: pointer;
}

#contateme:hover {
    background-color: var(---cor4);
}

/*parte com foto e imagens flutuantes*/
.usuario {
    align-self: center;
    display: flex;
    flex-direction: column;
    transform: translateY(-100px);
    height: fit-content;
}

#workingon {
    border: 1px solid var(---cor4);
    width: max;
    padding: 2px;
    margin-left: 100px;
}

#simbolofoto {
    transform: translateY(120px);
    width: 150px;
    margin-left: 90px;
}

#foto {
    width: 300px;
    z-index: 1;
    margin-left: 100px;
    transform: rotateY(180deg);
}

#pontofoto {
    align-self: self-end;
    transform: translateY(-140px);
    z-index: 1;
    width: 100px;
}

.slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    line-height: 20pt;
    font-size: 13pt;
    font-weight: normal;
    transform: translate(0, -130px);

    & div {
        width: 600px;
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
    }

    & p {
        border: 1px solid var(---cor5);
        padding: 13px;
        width: fit-content;
    }

    & img {
        width: 30px;
        height: 30px;
        transform: translate(260px, -68px);
    }

    & .aspasinvertido {
        transform: translate(-260px, 15px);
    }

}

.titulos {
    font-size: 20pt;
    font-weight: normal;

    & img {
        height: 20px;
        width: 500px;
    }
}

.projetos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
}

.projeto {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid rgba(255, 255, 255, 0.438);

    & img {
        width: 300px;
    }

    & img,
    tag {
        border: 1px solid rgba(255, 255, 255, 0.5);
    }
}