.container {
    display: flex;
    align-items: center;
    padding-top: 100px;
    flex-direction: column;
}

h1 {
    color: white;
    font-size: 32px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.288);
    border-radius: 10px;
    background: linear-gradient(rgb(83, 185, 253), rgb(34, 32, 158));
    max-width: 50%;
    width: 400px;
    margin-bottom: 20px;

    & button {
        border-radius: 30px;
        background-color: rgb(20, 21, 90);
        height: 40px;
        border: none;
        font-weight: bolder;
        cursor: pointer;
        color: white;
        font-size: 14px;
    }

    & button:hover {
        opacity: 0.8;
    }

    & input {
        border: 1px solid rgb(105, 172, 226);
        border-radius: 30px;
        height: 40px;
        background-color: rgb(37, 74, 131);
        color: rgb(255, 255, 255);
        font-size: 16px;
        padding-left: 10px;
        outline: none;
    }
}

.card {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(rgb(77, 169, 231), rgb(72, 70, 240));
    border: 1px solid rgba(255, 255, 255, 0.288);
    margin: 10px;
    padding: 10px;
    width: 400px;
    border-radius: 10px;
    font-size: 20px;
    text-align: left;

    & p {
        color: white;
        font-weight: bold;

        & span {
            font-weight: normal;
            font-style: italic;
        }
    }

    & button {
        background-color: transparent;
        border: none;
        cursor: pointer;

        & img {
            width: 30px;
        }
    }

    & button:hover {
        opacity: 0.5;
    }


}