*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #1d1c47 0%, rgba(57, 24, 85, 0.973) 100%);
  color: white;
  font-size: 100px;
  text-align: center;
}

